<div role='banner' class="header">
<div class="main-cover {{#if @blog.cover}}" style="background-image: url({{@blog.cover}}){{else}}no-cover{{/if}}">
<h1 class="blogtitle">
<a title="{{@blog.title}}" href='{{@blog.url}}'>
{{{@blog.title}}}
</a>
</h1>
<div id="logo">
{{#if @blog.logo}}<a href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}" /></a>{{/if}}</div>

<div class="blogdescription">
<span>{{@blog.description}}</span>
</div>
<div class="social-wrapper">
    <ul class="social-icons"> 
		<li> <a href="#"><i class="fa fa-facebook"></i></a></li> 
		<li> <a href="#"><i class="fa fa-linkedin"></i></a></li> 
		<li> <a href="#"><i class="fa fa-google-plus"></i></a></li>
		<li> <a href="#"><i class="fa fa-youtube"></i></a></li>
		<li> <a href="#"><i class="fa fa-twitter"></i></a></li>
		<li> <a href="#"><i class="fa fa-rss"></i></a></li>
	</ul>
</div>
