<nav>
	<ul>
	   <li><a href="{{@blog.url}}">Home</a></li>
	   <li><a href="{{@blog.url}}/search">Search</a></li>
	   <li><a href="{{@blog.url}}/Homeevaluation">Home Value</a></li>
	   <li><a href="{{@blog.url}}/about">About</a></li>
	   <li><a href="{{@blog.url}}/contact">contact</a></li>
	</ul>
</nav>
