{{!< default}}
{{> header}}
<main class="main_re" role="main">

{{#foreach posts}}
<article class="article_re" role="article" itemscope itemtype="http://schema.org/Article">

<header class="postheader_re">
<time class="date_re" datetime="{{date format="YYYY-MM-DD"}}" itemprop="datePublished">
	<h1 class="posttitle_re" itemprop="headline" >{{title}}</h1>
</header>

<div class="postcontent" itemprop="articlebody">
	{{content}}
</div>
{{#if tags}}
<div class="posttags_re">
	Tags: {{tags separator=" | "}}
</div>	
{{/if}}
</article>
{{/foreach}}
	{{#if pagination}}
	<div class="pageination_re">
	{{{pagination}}}
	</div>
{{/if}}
</main>
{{> footer}}